// Background images
// iPhone fix
// https://css-tricks.com/the-fixed-background-attachment-hack/
.wallpaper-container {
  background-repeat: no-repeat;
  background-position: top center;
  background-size: cover;
  position: fixed;
  height: 100%;
  width: 100%;
  z-index: -1;
}

.mm-page,
.mm-wrapper_background body {
  background-color: inherit;
}

body,
body.path-user {
  background-color: $black;
}


// Shows
body.page-node-type-show {
  background-image: url(/themes/custom/muse10/backgrounds/muse-tribute-9.jpg);

  .field--name-field-date {
    text-transform: uppercase;
    font-weight: $font-weight-bold;
    font-size: 24px;
    line-height: 28px;
    margin-bottom: 15px;
  }

  .field--name-field-venue {
    text-transform: uppercase;
    font-weight: $font-weight-bold;
  }

  .field--name-field-address {
    margin-bottom: 15px;
    p {
      margin-bottom: 0;
    }
  }
}


h1,
h2,
h3 {
    display: block;
    width: fit-content;
    margin: 0 auto 45px;
    letter-spacing: 2px;
    font-family: $headings-font-family;
    font-weight: $headings-font-weight !important;
    text-transform: uppercase;
    text-align: center;
    &:before,
    &:after {
        display: block;
        content: "";
        width: 100%;
        height: 6px;
        background-color: $white;
    }
    a {
        text-decoration: none;
        &:hover {
            text-decoration: none;
        }
    }
}


// Main content panel if context flag equals "text-page"
body.text-page .region-content {
  margin: 55vh auto 60px auto;
  max-width: 850px;
  background-color: rgba(0,0,0,0.5);
  padding: 45px 30px 45px 30px;
  font-size: 1rem;
  text-align: center;

  article.media {
    margin-bottom: 1rem;
  }
}


// News
.field--name-field-teaser {
  font-family: "Open Sans",sans-serif;
  font-weight: 700;
  font-size: x-large;
  line-height: 1.2;
  margin-bottom: 10px;
}


// Gallery
#blazy-node-gallery-gallery-full-colorbox {
  margin-bottom: 60px;

  li {
    border: 3px solid $white;
  }
}


// Contact
body.page-node-type-webform .region-content {
  margin: 25vh auto 60px auto;
  max-width: 850px;
  background-color: rgba(0,0,0,0.5);
  padding: 45px 30px 45px 30px;
  font-size: 1rem;
  text-align: center;

  article.media {
    margin-bottom: 1rem;
  }
}


// Book now buttons
#block-muse10-booknow,
#block-muse10-booknow-2 {
  text-align: center;
}

.page-node-type-landing-page #block-muse10-booknow {
  margin-bottom: 60px;
}